@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    
    font-family: "Ubuntu";
    font-style: normal;
    
}
.wrap_container{
    background-size: cover;
    background-image: url(../img/fon1.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
a{
    text-decoration: none;
   
}
.wrapper{
    max-width: 324px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    /* background: #000000;
mix-blend-mode: normal;
opacity: 0.41; */
background: rgba(0, 0, 0, 0.4);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
min-width: 1364.13px;
min-height: 58.85px;
}

.header_right{
    display: flex;
}
.header_left{
    margin: 18px 0 0 79px;
    
}
.header_left a{
    color: white;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 1;
}
.header_left a:hover{
    color: green;
}
.icon{
    fill: white;
}
.icon:hover{
    fill: green;
}
.header_right{
    margin: 17px 79px 0 0;
    
}
.header_right a :not(last_child){
    margin-right: 25px;
}
.header_enter p{
    border-left: 2px solid grey;
    font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1;
color: white;
padding: 0 0 0 25px;
margin-top: 5px;

}
.header_enter a{
    color: white;
}
.header_enter a:hover{
    color: green;
}

.container{
    position: relative;
    margin: 54px auto 0 auto;
    max-width: 444px;
    min-height: 584px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.green_cube{
    position: absolute;
width: 18px;
height: 18px;
left: 0px;
top: 29px;
background: #3CB878;
}
.login{
    display: flex;
    justify-content:space-between;
    padding-top: 31px;
    align-items: center;
    min-width: 324px;
}
.sign{
font-weight: normal;
font-size: 20px;
line-height: 20px;
color: #434343;
}

.log{
    font-weight: normal;
font-size: 14px;
line-height: 14px;
color: #3CB878;

}
.log:hover, .log:focus{
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.facebook{
    display: flex;
    width: 160px;
    height: 48px;
    background: #305DB8;
    border-radius: 3px;
}
.facebook:hover{
    background: #022263;
}
.facebook p{
    font-weight: normal;
font-size: 16px;
line-height: 1;
color: #FFFFFF;
border-left: 1px solid #1e47a0;
height: 28px;
margin-top: 10px;
padding-left: 18px;
padding-top: 7px;
}
.facebook img{
    width: 12.4px;
    height: 24px;
    /* padding: 12px 17px; */
    margin: 12px 17px;
}
button{
    border: none;
}
.gplus{
    display: block;
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 3px;
}
.gplus:hover{
    background: #AB1F09;
}
.social{
    min-width: 324px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
}
.gplus{
    display: flex;
}
.gplus p{
    font-weight: normal;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    height: 28px;
    border-left: 1px solid #b32828;
    margin: 10px 0 0 0;
    padding: 7px 0 0 30px;
   
}
.gplus img{
    width: 30px;
    height: 19px;
    margin:15px 7px 0 12px;
}
.or{
    margin: 31px auto 0 auto;
}
h2{
    overflow: hidden;
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap;
font-weight: normal;
font-size: 14px;
line-height: 1;
color: #848484;
}
h2::before,
h2::after{
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align:middle ;
    background-color: #F2F2F2;
}
h2::before{
    left: -10px;
    margin-left: -50%;
}
h2::after{
    left: 10px;
    margin-right: -50%;
}



.input{
    width: 324px;
height: 44px;
border: 1px solid #F2F2F2;
border-radius: 4px;
margin-top: 15px;
padding-left: 20px;
}
.input:hover{
    background: #FFFFFF;
box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
border-radius: 4px;
}
.input::placeholder{
    color: #BEBEBE;
    font-weight: normal;
font-size: 14px;
line-height: 1;
}

.checbox{
    display: flex;
    

    
}
.checbox p{
    margin-top: 14px;
}
.checbox a{
    color: rgba(60, 184, 120, 0.8);;
    font-weight: normal;
font-size: 14px;
line-height: 1;
}
.checbox a:hover{
    border-bottom: 1px solid #01813F ;
}
.chec{
    margin: 15px 11px 0 0;
    
    
}

.create a{
    display: block;
    width: 324px;
height: 46px;
background: rgba(60, 184, 120, 0.8);
border-radius: 4px;
font-weight: normal;
font-size: 16px;
line-height: 1;
color: white;
padding-top: 16px;

}
.create{
    margin-top: 20px;
}
.create a:hover{
   background: #01813F;
}